.logo {
  &__container {
    background-color: $logo-color;
    height: 300px;
    margin: 30vh auto 0;
    position: relative;
    width: 300px;
  }

  &__text {
    bottom: 0;
    color: $font-color;
    font-size: 10em;
    font-weight: bold;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
  }
}
