//
// Foundation Compontents
//

@import '../../bower_components/foundation/scss/foundation/components/grid';
@import '../../bower_components/foundation/scss/foundation/components/progress-bars';


//
// Sass Variables


//
// Mixins
//


//
// Basic Styles
//

body {
  color: #555
}

.projects {
  overflow: hidden;
  position: relative;

  .project {
    box-shadow: 0 2px 5px rgba(160, 160, 160, .85);
    margin: .15em;
  }
}


.progress {
  position: relative;

  .title {
    color: #fff;
    font-size: .8rem;
    height: 1.5625rem;
    left: 2%;
    line-height: 1.5625rem;
    position: absolute;
    top: 0;
  }
}