//
// Foundation Compontents

@import '../../bower_components/foundation/scss/foundation/components/grid';
@import '../../bower_components/foundation/scss/foundation/components/progress-bars';
@import '../../bower_components/foundation/scss/foundation/components/type';


//
// Sass Variables

$transition-duration: .5s;
$nav-height: 50px;


//
// Basic Styles

body {
  color: #888;
}


//
// Navigation

nav {
  background-color: rgba(215, 98, 21, 0);
  height: $nav-height;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: background-color $transition-duration ease;
  width: 100%;
  z-index: 1;

  ul {
    float: right;
    list-style: none;
    margin: 1em 1em 0 0;

    li {
      float: left;
    }

    a {
      background: rgba(200, 200, 200, 0.3);
      color: #999;
      margin: 0 0 0 .25em;
      padding: .5em .75em;
      text-decoration: none;
    }
  }
}


//
// Main Sections

section {
  &.intro {
    padding-top: $nav-height;
  }
}


//
// Page Content

.projects {
  overflow: hidden;
  position: relative;

  .project {
    box-shadow: 0 2px 5px rgba(160, 160, 160, .85);
    margin: .15em;
    text-align: center;
  }
}

.progress {
  position: relative;

  .title {
    color: #fff;
    font-size: .8rem;
    height: 1.5625rem;
    left: 2%;
    line-height: 1.5625rem;
    position: absolute;
    top: 0;
  }
}