.about-me {
  background: #eee;
  /* display: grid;
  grid-template-columns: [sidebar] 300px [content] minmax(50%, 800px);
  grid-gap: 0; */
}

@media (max-width: 640px) {
  .about-me {
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto); */
  }

  h1 {
    height: auto;
  }
}

aside {
  background: #333;
  color: #fff;

  & > div {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
  }

  & img {
    align-self: center;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
    width: 192px;
  }

  & li {
    @apply --simple-li;
  }
}

article {
  padding: 1rem;

  & ul {
    margin: 0 0 2rem;
  }
}
