:root {
  --iconSize: 26px;
}

.icon {
  background-size: cover;
  display: inline-block;
  height: var(--iconSize);
  margin: 0 .5rem 0 0;
  width: var(--iconSize);

  &.github {
    background-image: svg-load('../svg/iconmonstr-github-1.svg', 'fill: #fff');
  }
  &.linkedin {
    background-image: svg-load('../svg/iconmonstr-linkedin-4.svg', 'fill: #fff');
  }
  &.pdf {
    background-image: svg-load('../svg/pdf.svg', 'fill: #fff');
  }
}
