:root {
  --iconSize: 24px;
}

nav .icon {
  margin: 0 .5rem 0 0;
}

.icon {
  background-size: cover;
  display: inline-block;
  height: var(--iconSize);
  width: var(--iconSize);

  &.about {
    background-image: svg-load('../svg/about.svg', 'fill: #fff');
  }
  &.arrow-down {
    background-image: svg-load('../svg/arrow-down.svg', 'fill: #fff');
  }
  &.github {
    background-image: svg-load('../svg/github.svg', 'fill: #fff');
  }
  &.linkedin {
    background-image: svg-load('../svg/linkedin.svg', 'fill: #fff');
  }
  &.pdf {
    background-image: svg-load('../svg/pdf.svg', 'fill: #fff');
  }
}
