:root {
  /* Colors */
  --backgroundColor: #f2f2f2;
  --fontColor: #545454;
  --highlightColorOne: #00a0ae;
  --highlightColorTwo: #684458;
  --highlightColorThree: #f46177;
  /* Other stuff */
  --borderRadius: 5px;
  --transformDurationMedium: .4s;
  --transformDurationShort: .25s;
  /* Lists */
  --listIconSize: 18px;
  --simple-li: {
    background: none;
    padding: 0;
  };
}
