.title-card {
  align-items: center;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;

  & header {
    color: var(--highlightColorThree);
    margin: 0 0 2rem;
    position: sticky;
    text-align: center;
    top: 1rem;
  }

  & h2 {
    color: initial;
  }
}

@media (max-width: 640px) {
  .title-card {
    justify-content: center;

    & header {
      position: initial;
    }
  }
}

nav {
  & li {
    @apply --simple-li;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  & a {
    align-items: center;
    background-color: color(var(--backgroundColor) lightness(-10%));
    border-radius: var(--borderRadius);
    color: #fff;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    overflow: hidden;
    padding: 0 .75rem;
    position: relative;
    text-decoration: none;
    transform:  perspective(1px) translateZ(0);
    transition: padding ease var(--transformDurationMedium),
                background-color ease var(--transformDurationShort);

    &::before {
      background-color: var(--highlightColorOne);
      border-radius: 100%;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      position: absolute;
      transform: scale(0);
      transition: transform .4s ease, opacity .25s ease;
      z-index: -1;
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        opacity: 1;
        transform: scale(1.5);
      }
    }
  }
}

.go-to-about {
  animation-duration: 1.5s;
  animation-name: leviate;
  animation-iteration-count: infinite;
  bottom: .15rem;
  left: calc(50% - (var(--iconSize) / 2) - var(--iconPadding));
  padding: var(--iconPadding);
  position: absolute;
}

@keyframes leviate {
  0% { bottom: .15rem; }
  40% { bottom: .75rem }
  100% { bottom: .15rem; }
}
