@import "css/properties.css";
@import "css/reset.css";
@import "css/flex.css";
@import "css/icons.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 1.4;
  word-spacing: -0.6px;

  &.webfont-loaded {
    font-family: Dosis;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1;
    word-spacing: 0;
  }
}

section {
  &.titleCard {
    background-color: var(--backgroundColor);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;

    & h1 {
      color: var(--highlightColorThree);
      height: 60px;
      font-size: 2em;
      text-align: center;
    }
  }
}
// hello
nav {
  & li:not(:last-of-type) {
    margin-bottom: 1em;
  }

  & a {
    background-color: color(var(--backgroundColor) lightness(-5%));
    border-radius: var(--borderRadius);
    color: #fff;
    display: block;
    padding: .25em .5em;
    position: relative;
    text-decoration: none;
    transition: padding ease .3s, background-color ease .2s;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   z-index: -1;
    //   top: 50%;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: var(--highlightColorOne);
    //   border-radius: 100%;
    //   transform: scale(0);
    //   transition-property: transform;
    //   transition-duration: 0.3s;
    //   transition-timing-function: ease-out;
    // }

    // &:hover::before {
    //   transform: scale(2);
    // }
  }
}
