@import "css/properties.css";
@import "css/reset.css";
@import "css/typography.css";
@import "css/lists.css";
@import "css/flex.css";
@import "css/icons.css";
@import "css/title-card.css";

body {
  color: var(--fontColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 1.4;
  min-width: 320px;
  word-spacing: -0.6px;

  &.webfont-loaded {
    font-family: Quicksand;
    letter-spacing: 0;
    line-height: 1.2;
    word-spacing: 0;
  }
}

.aboutMe {
  background: #eee;
  display: grid;
  grid-template-columns: [sidebar] 300px [content] minmax(50%, 800px);
  grid-gap: 0;
  min-height: 100vh;
}

@media (max-width: 640px) {
  .aboutMe {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

aside {
  background: #333;
  color: #fff;

  & > div {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
  }

  & img {
    align-self: center;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
    width: 192px;
  }

  & li {
    @apply --simple-li;
  }
}

article {
  padding: 1rem;
}
